<section class="dialog">
  <h2 class="dialog__title">{{card.title}}</h2>
  <p class="dialog__description">{{card.description}}</p>
  <div class="dialog__tags">
    <p
      class="dialog__tag"
      *ngFor="let tag of card.tags"
    >{{tag}}</p>
  </div>
  <div class="dialog__buttons">
    <button
      class="dialog__edit"
      type="button"
      mat-flat-button
      color="primary"
      (click)="openEditDialog()"
    >Edit</button>
    <button
      class="dialog__close"
      type="button"
      mat-flat-button
      color="primary"
      (click)="close()"
    >Close</button>
  </div>
</section>
