<header class="header">
  <div class="container">
    <div class="header__body">
      <div class="header__logo">
        <img
          src="assets/svg/logo.svg"
          alt="logo"
          draggable="false"
        >
      </div>
      <div class="header__main">
        <div class="header__new_note">
          <button
            mat-raised-button
            color="success"
          >
            New Note</button>
        </div>
        <div class="header__filter">
          <mat-form-field appearance="legacy">
            <mat-label>Legacy form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</header>
