$height: 80px;

.header {
  height: $height;
  position: sticky;
  top: -10px;
  background: #3f51b5;

  .header__body {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .header__logo {
      img {
        height: $height;
      }
    }

    .header__main {
      display: flex;
      align-items: center;

      .header__new_note {
        margin: 0 20px;

        button {

        }
      }

      .header__filter {

      }
    }
  }
}
